<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/teachers.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Mochiy+Pop+P+One&family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&family=Mochiy+Pop+P+One&family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <hr>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/teachers">BACK</a>
                    </li>


                </ul>
                <form class="d-flex" action="https://www.google.com/search?">
                    <input class="form-control me-2" type="search" placeholder="Google" aria-label="Google" name="q" autocomplete="off">
                    <button class="btn btn-outline-success" type="submit" onclick="google.com">SEARCH</button>
                </form>


            </div>
        </div>
    </nav>

    <div class="d">
        <h1>ADD NEW TEACHER</h1>
        <form action="/teachers" method="post">

            <!--<label for="teacherName">NAME</label>-->
            <input type="text" style="text-transform: uppercase " name="NAME" id="teacherName " placeholder="TEACHER'S NAME " autocomplete="off">
            <button class="btn btn-primary ">SUBMIT</button>




            <!----   <h3>MONDAY</h3>
        <p> <label for="MONDAY1 ">ONE</label>
            <input type="text " style="text-transform: uppercase " name="MONDAY.one " id="MONDAY1 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="MONDAY2 ">TWO</label>
            <input type="text " style="text-transform: uppercase " name="MONDAY.two " id="MONDAY2 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="MONDAY3 ">THREE</label>
            <input type="text " style="text-transform: uppercase " name="MONDAY.three " id="MONDAY3 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="MONDAY4 ">FOUR</label>
            <input type="text " style="text-transform: uppercase " name="MONDAY.four " id="MONDAY4 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="MONDAY5 ">FIVE</label>
            <input type="text " style="text-transform: uppercase " name="MONDAY.five " id="MONDAY5 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="MONDAY6 ">SIX</label>
            <input type="text " style="text-transform: uppercase " name="MONDAY.six " id="MONDAY6 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="MONDAY7 ">SEVEN</label>
            <input type="text " style="text-transform: uppercase " name="MONDAY.seven " id="MONDAY7 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="MONDAY8 ">EIGHT</label>
            <input type="text " style="text-transform: uppercase " name="MONDAY.eight " id="MONDAY8 " value="NULL " size="10 "
                readonly autocomplete="off ">
        </p>
        <h3>TUESDAY</h3>
        <p>
            <label for="TUESDAY1 ">ONE</label>
            <input type="text " style="text-transform: uppercase " name="TUESDAY.one " id="TUEDSAY1 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="TUESDAY2 ">TWO</label>
            <input type="text " style="text-transform: uppercase " name="TUESDAY.two " id="TUESDAY2 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="TUESDAY3 ">THREE</label>
            <input type="text " style="text-transform: uppercase " name="TUESDAY.three " id="TUESDAY3 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="TUESDAY4 ">FOUR</label>
            <input type="text " style="text-transform: uppercase " name="TUESDAY.four " id="TUESDAY4 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="TUESDAY5 ">FIVE</label>
            <input type="text " style="text-transform: uppercase " name="TUESDAY.five " id="TUESDAY5 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="TUESDAY6 ">SIX</label>
            <input type="text " style="text-transform: uppercase " name="TUESDAY.six " id="TUESDAY6 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="TUESDAY7 ">SEVEN</label>
            <input type="text " style="text-transform: uppercase " name="TUESDAY.seven " id="TUESDAY7 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="TUESDAY6 ">EIGHT</label>
            <input type="text " style="text-transform: uppercase " name="TUESDAY.eight " id="TUESDAY8 " value="NULL "
                size="10 " readonly autocomplete="off ">
        </p>
        <h3>WEDNESDAY</h3>
        <p> <label for="WEDNESDAY1 ">ONE</label>
            <input type="text " style="text-transform: uppercase " name="WEDNESDAY.one " id="TUEDSAY1 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="WEDNESDAY2 ">TWO</label>
            <input type="text " style="text-transform: uppercase " name="WEDNESDAY.two " id="WEDNESDAY2 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="WEDNESDAY3 ">THREE</label>
            <input type="text " style="text-transform: uppercase " name="WEDNESDAY.three " id="WEDNESDAY3 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="WEDNESDAY4 ">FOUR</label>
            <input type="text " style="text-transform: uppercase " name="WEDNESDAY.four " id="WEDNESDAY4 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="WEDNESDAY5 ">FIVE</label>
            <input type="text " style="text-transform: uppercase " name="WEDNESDAY.five " id="WEDNESDAY5 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="WEDNESDAY6 ">SIX</label>
            <input type="text " style="text-transform: uppercase " name="WEDNESDAY.six " id="WEDNESDAY6 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="WEDNESDAY7 ">SEVEN</label>
            <input type="text " style="text-transform: uppercase " name="WEDNESDAY.seven " id="WEDNESDAY7 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="WEDNESDAY8 ">EIGHT</label>
            <input type="text " style="text-transform: uppercase " name="WEDNESDAY.eight " id="WEDNESDAY8 " value="NULL "
                size="10 " readonly autocomplete="off ">
        </p>
        <h3>THURSDAY</h3>
        <p> <label for="THURSDAY1 ">ONE</label>
            <input type="text " style="text-transform: uppercase " name="THURSDAY.one " id="TUEDSAY1 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="THURSDAY2 ">TWO</label>
            <input type="text " style="text-transform: uppercase " name="THURSDAY.two " id="THURSDAY2 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="THURSDAY3 ">THREE</label>
            <input type="text " style="text-transform: uppercase " name="THURSDAY.three " id="THURSDAY3 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="THURSDAY4 ">FOUR</label>
            <input type="text " style="text-transform: uppercase " name="THURSDAY.four " id="THURSDAY4 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="THURSDAY5 ">FIVE</label>
            <input type="text " style="text-transform: uppercase " name="THURSDAY.five " id="THURSDAY5 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="THURSDAY6 ">SIX</label>
            <input type="text " style="text-transform: uppercase " name="THURSDAY.six " id="THURSDAY6 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="THURSDAY7 ">SEVEN</label>
            <input type="text " style="text-transform: uppercase " name="THURSDAY.seven " id="THURSDAY7 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="THURSDAY8 ">EIGHT</label>
            <input type="text " style="text-transform: uppercase " name="THURSDAY.eight " id="THURSDAY8 " value="NULL "
                size="10 " readonly autocomplete="off ">
        </p>
        <h3>FRIDAY</h3>
        <p> <label for="FRIDAY1 ">ONE</label>
            <input type="text " style="text-transform: uppercase " name="FRIDAY.one " id="TUEDSAY1 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="FRIDAY2 ">TWO</label>
            <input type="text " style="text-transform: uppercase " name="FRIDAY.two " id="FRIDAY2 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="FRIDAY3 ">THREE</label>
            <input type="text " style="text-transform: uppercase " name="FRIDAY.three " id="FRIDAY3 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="FRIDAY4 ">FOUR</label>
            <input type="text " style="text-transform: uppercase " name="FRIDAY.four " id="FRIDAY4 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="FRIDAY5 ">FIVE</label>
            <input type="text " style="text-transform: uppercase " name="FRIDAY.five " id="FRIDAY5 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="FRIDAY6 ">SIX</label>
            <input type="text " style="text-transform: uppercase " name="FRIDAY.six " id="FRIDAY6 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="FRIDAY7 ">SIX</label>
            <input type="text " style="text-transform: uppercase " name="FRIDAY.seven " id="FRIDAY7 " value="NULL " size="10 "
                readonly autocomplete="off ">
            <label for="FRIDAY8 ">EIGHT</label>
            <input type="text " style="text-transform: uppercase " name="FRIDAY.eight " id="FRIDAY8 " value="NULL " size="10 "
                readonly autocomplete="off ">
        </p>
        <h3>SATURDAY</h3>
        <p> <label for="SATURDAY1 ">ONE</label>
            <input type="text " style="text-transform: uppercase " name="SATURDAY.one " id="TUEDSAY1 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="SATURDAY2 ">TWO</label>
            <input type="text " style="text-transform: uppercase " name="SATURDAY.two " id="SATURDAY2 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="SATURDAY3 ">THREE</label>
            <input type="text " style="text-transform: uppercase " name="SATURDAY.three " id="SATURDAY3 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="SATURDAY4 ">FOUR</label>
            <input type="text " style="text-transform: uppercase " name="SATURDAY.four " id="SATURDAY4 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="SATURDAY5 ">FIVE</label>
            <input type="text " style="text-transform: uppercase " name="SATURDAY.five " id="SATURDAY5 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="SATURDAY6 ">SIX</label>
            <input type="text " style="text-transform: uppercase " name="SATURDAY.six " id="SATURDAY6 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="SATURDAY7 ">SEVEN</label>
            <input type="text " style="text-transform: uppercase " name="SATURDAY.seven " id="SATURDAY7 " value="NULL "
                size="10 " readonly autocomplete="off ">
            <label for="SATURDAY8 ">EIGHT</label>
            <input type="text " style="text-transform: uppercase " name="SATURDAY.eight " id="SATURDAY8 " value="NULL "
                size="10 " readonly autocomplete="off ">
        </p>-->

        </form>
    </div>
</body>


</html>